<div class="jumbotron">
    <h1 class="display-4">Asunto: {{nombre}}<img src="../../assets/icoAngular.png" /></h1>
    <p class="lead">SINGLE PAGE APPLICATION</p>
    <hr class="my-4"><img src="../../assets/web_earth_planet_19311.png" />
    <p>Las herramientas que usaremos para el desarrollo de ANGULAR serán:</p>
    <ul>
        <li>Navegador web - Chrome es el entorno cliente, que principalmente usaremos</li>
        <li>Editor de texto - Visual Studio Code, PHP, Atom, etc...</li>
        <li>Node.js - Especificamente sus librerias npm</li>
        <li>Angular Cli, es un set de herrramientas para la consola que nos facilita el trabajo</li>
    </ul>
    <a class="btn btn-danger btn-lg" href="#" role="button">Aprende más...</a>
  </div>  