<div class="card">
    <div class="card-header">
      QUÉ ES ANGULAR?
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Basicamente es un FrameWork de JS que nos permite crear Single Page Aplication
            Eso significa que con ANGULAR nunca te va abrir otra pagina. Todo será en la misma 
            Esto lo hará de una forma mas elegante a otras aplicaciones anteriormente generadas.</p>
        <footer class="blockquote-footer">Realizado:  <cite title="Source Title"> a 7 o</cite></footer>
      </blockquote>
    </div>
  </div>