<!--
DATOS DE CONFIGURACION:

<<<<<<<<<<<<<<<<<<<<<<< - ANGULAR - >>>>>>>>>>>>>>>>>>>>>>>

Principalmente es un FRAMEWORK, de JavaScript, que nos permite crear las 
famosas SPA'S

**Herramientas utilizadas:
  1. Entorno Cliente.
  2. Editor de Texto. Visual Studio Code.
  3. Node.js, especificamente alcanzar los paquetes npm.
  4. Angular Cli, es nuestro set de herramientas para ejecutar en la consola,
     que nos ha facilitado Angular.

  app.component.html ==> MUESTRA LA PLANTILLA DEL COMPONENTE.

-->